<div class="container">
  <h1>Hello!</h1>
  <h2>Here is your question:</h2>
  <p>"<%=@question%>"</p>
  <h2>Your coaches answer:</h2>
  <p>"<%=@answer%>"</p>

  <div class="btn btn-primary">
    <a href="/ask" class="text-white">Ask a new question</a>
  </div>
</div>
